:root {
    --green: rgb(110, 141, 122)
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #5A6C73;
}

header {
    background-color: darkslategray;
    height: 150px;
    color:aliceblue;
    text-align: right;
    padding: 50px;
}

main {
    margin: 50px;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 10px;
    color: #f8f8ff;
}

aside {
    float: left;
    margin-right: 20px;

}

.recent-section {
    background-color: gray;
    height: 200px;
    margin-top: 15px;
    border-radius: 5px;

}

#current-weather {
    border: 1px;
    border-radius: 5%;
    padding: 10px;
    border-color: white;
    display: inline-block;
    justify-content: center;
    background-color: var(--green);
}

#forecast {
    display: none;
    float: right;
}

#forecast-days {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.day {
    background-color: var(--green);
    padding: 10px;
    border-radius: 10px;    
}

.bold {
    font-weight: bold;
}

