body {
    background-color: rgb(61, 61, 61);
    font-family: monospace;
}

header {
    background-color: darkslategray;
    height: 150px;
    color:aliceblue;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #f8f8ff;
}

aside {
    float: left;
}

.recent-section {
    background-color: gray;
    height: 200px;
    margin-top: 15px;
    border-radius: 5px;

}

#current-weather {
    border: 1px;
    border-radius: 5%;
    padding: 10px;
    border-color: white;
    display: inline-block;
    justify-content: center;
    background-color: bisque;
}

#forecast {
    display: none;
    float: right;
}

#forecast-days {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.day {
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;    
}

.bold {
    font-weight: bold;
}

