:root {
    --green: rgb(110, 141, 122)
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #5A6C73;
}


header {
    background-color: darkslategray;
    height: 150px;
    color:aliceblue;
    text-align: right;
    padding: 50px;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 10px;
    color: #f8f8ff;
}

main {
    margin: 50px;
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
}

aside {
    float: left;
    margin-right: 20px;
}

.recent-section {
    height: auto;
    margin-top: 15px;
    font-size: 15pt;
}

.recent {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.recent:hover {
    cursor: pointer;
    background-color: #131313;
    border-radius: 5px;
    color: wheat;    
}

#current-weather {
    border: 1px;
    border-radius: 5%;
    padding: 10px;
    display: inline-block;
    justify-content: center;
    background-color: var(--green);
    width: auto;
}

#forecast {
    display: none;
    float: center;
}

#forecast-days {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.day {
    background-color: var(--green);
    padding: 10px;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}


/*Media Query*/
@media screen and (max-width: 992px) {
    main {
        width: 50%;
    }
}